<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
	<body>
		<div class="container">
		
			<div class="row">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#">PACS</a>
				    </div>
				    <ul class="nav navbar-nav">
				      <li class="active"><a href="http://localhost:8083/" class="opener">UserManagement</a></li>
				      <li><a href="http://localhost:8081/" class="opener">ChargingPoint</a></li>
				      <li><a href="http://localhost:8082/" class="opener">Environment</a></li>
				    </ul>
				  </div>
				</nav>
			</div>
			
			<div class="row">
				<div id ="welcomeText">
				<p>Herzlich Willkommen auf der Seite vom Park and Charge System.</p>
				<p>Damit Sie das System nutzen können, müssen Sie sich im System registrieren.</p>
				</div>
			</div>
			
			<div class="row">
				<div id="createUser">
					<div th:switch="${users}">
    					<h2 th:case="null">Zurzeit sind keine Benutzer registriert!</h2>
					        <div th:case="*">
					            <h2>Benutzer</h2>
					            <table class="table table-bordered table-striped">
					                <thead class="thead-dark">
					                    <tr>
					                        <th scope="col">Vorname</th>
					                        <th scope="col">Nachname</th>
					                        <th scope="col">E-Mail</th>
					                    </tr>
					                </thead>
					                <tbody>
					                <tr th:each="user : ${users}">
					                    <td th:text="${user.firstName}"></td>
					                    <td th:text="${user.lastName}"></td>
					                    <td th:text="${user.email}"></td>
				                     	<td><a th:href="@{/users/delete/{id}(id=${user.id})}">Löschen</a></td>
					                </tr>
					            </tbody>
					        </table>
					    </div>      
    					<p><a href="/users/register">Neuen Benutzer hinzufügen</a></p>
					</div>
				</div>
			</div>
			
		</div>
		
		<script type="text/javascript">
		window.onload = function(){
			  var a = document.querySelectorAll('.opener'), w = [], url, i;
			  for(i = 0; i < a.length; i++){
			    (function(i){
			      a[i].onclick = function(e) {
			        if (!w[i] || w[i].closed) {
			          url = this.href;
			          w[i] = window.open(url);
			        } else {
			          console.log('window ' + url + ' is already opened');
			        }
			        e.preventDefault();
			        w[i].focus();
			      };
			    })(i);
			  }
			};
		</script>
	</body>
</html>