<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
	<body>
		<div class="container">
		
			<div class="row">
				<div id ="environmentInfoText">
				<p>Sie befinden sich auf der Seite der Umeweltinformationen</p>
				<p>Bitte ergänzen Sie die Umweltinformationen</p>
				</div>
			</div>
			<!-- Angelegte Umweltinformationen werden in einer Tabelle angezeigt. -->
			<div class="row">
				<div id="createEnvironmentInfo">
					<div th:switch="${environmentInfos}">
    					<h2 th:case="null">Zurzeit sind keine Umweltinformationen vorhanden!</h2>
					        <div th:case="*">
					            <h2>Umweltinformationen</h2>
					            <table class="table table-bordered table-striped">
					                <thead class="thead-dark">
					                    <tr>
					                    	<th scope="col">Beschreibung</th>
					                        <th scope="col">SensorId</th>
					                        <th scope="col">SensorType</th>
					                    </tr>
					                </thead>
					                <tbody>
					                <tr th:each="environmentInfo : ${environmentInfos}">
					                	<td th:text="${environmentInfo.description}"></td>
					                    <td th:text="${environmentInfo.sensorId}"></td>
					                    <td th:text="${environmentInfo.sensorType}"></td>
				                     	<td><a th:href="@{/environmentInfos/delete/{id}(id=${environmentInfo.id})}">Umweltinformation löschen</a></td>
					                </tr>
					            </tbody>
					        </table>
					    </div>      
    					<p><a href="/environmentInfos/register">Neue Umweltinformation hinzufügen</a></p>
					</div>
				</div>
			</div>	
		</div>
		
		<script type="text/javascript">
		window.onload = function(){
			  var a = document.querySelectorAll('.opener'), w = [], url, i;
			  for(i = 0; i < a.length; i++){
			    (function(i){
			      a[i].onclick = function(e) {
			        if (!w[i] || w[i].closed) {
			          url = this.href;
			          w[i] = window.open(url);
			        } else {
			          console.log('window ' + url + ' is already opened');
			        }
			        e.preventDefault();
			        w[i].focus();
			      };
			    })(i);
			  }
			};
		</script>
	</body>
</html>