<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div id ="chargingPointPageText">
				<p>Sie befinden sich auf der Charging Point Seite</p>
				<p>Bitte registrieren Sie ihre Ladestation</p>
				</div>
			</div>
			
			<!-- Listet die angelegten Ladestationen in einer Tabelle auf und ermöglicht die Ladestationen 
			auch wieder zu löschen. -->
			<div class="row">
				<div id="createChargingPoint">
					<div th:switch="${chargingPoints}">
    					<h2 th:case="null">Zurzeit sind keine Ladestationen vorhanden!</h2>
					        <div th:case="*">
					            <h2>Ladestationen</h2>
					            <table class="table table-bordered table-striped">
					                <thead class="thead-dark">
					                    <tr>
					                        <th scope="col">Name</th>
					                        <th scope="col">Besitzer</th>
					                        <th scope="col">Straße</th>
					                        <th scope="col">Hausnummer</th>
					                        <th scope="col">Stadt</th>
					                    </tr>
					                </thead>
					                <tbody>
					                <tr th:each="chargingPoint : ${chargingPoints}">
					                    <td th:text="${chargingPoint.Name}"></td>
					                    <td th:text="${chargingPoint.ownerId}"></td>
					                    <td th:text="${chargingPoint.location.street}"></td>
					                    <td th:text="${chargingPoint.location.streetNumber}"></td>
					                    <td th:text="${chargingPoint.location.city}"></td>
				                     	<td><a th:href="@{/chargingPoints/delete/{id}(id=${chargingPoint.id})}">Ladestation löschen</a></td>
					                </tr>
					            </tbody>
					        </table>
					    </div>      
    					<p><a href="/chargingPoints/register">Neue Ladestation hinzufügen</a></p>
					</div>
				</div>
			</div>	
		</div>
		
		<script type="text/javascript">
		window.onload = function(){
			  var a = document.querySelectorAll('.opener'), w = [], url, i;
			  for(i = 0; i < a.length; i++){
			    (function(i){
			      a[i].onclick = function(e) {
			        if (!w[i] || w[i].closed) {
			          url = this.href;
			          w[i] = window.open(url);
			        } else {
			          console.log('window ' + url + ' is already opened');
			        }
			        e.preventDefault();
			        w[i].focus();
			      };
			    })(i);
			  }
			};
		</script>
	</body>
</html>