<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	 	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
		<title>PACS - CP</title>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header-chargingPointRegister"></div>
		<!-- Formular, um Ladestation hinzufügen zu können. -->
		<div class="container">
			<div class="row">
				<form action="#" th:action="@{/chargingPoints/createChargingPoint}" th:object="${chargingPoint}" method="post">
				    <label for="name">Name</label>
				    <input type="text" th:field="*{Name}" id="name" placeholder="Ladestation">
				    <label for="besitzer">Besitzer</label>
				    <input type="text" th:field="*{ownerId}" id="besitzer" placeholder="Besitzer">
				   	<fieldset>
			   		<legend>Standortdaten:</legend>
				    <label for="street">Straße</label>
				    <input type="text" th:field="*{location.street}" id="street" placeholder="Straße">
				    <label for="streetNumber">Hausnummer</label>
				    <input type="text" th:field="*{location.streetNumber}" id="streetNumber" placeholder="1">
				    <label for="city">Stadt</label>
				    <input type="text" th:field="*{location.city}" id="city" placeholder="Stadt">
				    <input type="submit" value="ChargingPoint hinzufügen">
				    </fieldset>
				</form>
			</div>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>