<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	 	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
		<title>PACS - Env</title>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header-environmentInfoRegister"></div>
		
		<div class="container">
			<div class="row">
				<form action="#" th:action="@{/environmentInfos/createEnvironmentInfo}" th:object="${environmentInfo}" method="post">
				    <label for="sensor">SensorId</label>
				    <input type="number" th:field="*{sensorId}" id="sensor" placeholder="1">
				    <label for ="sensorType">Sensor-Typ</label>
				    <select th:field="*{sensorType}">
					    <option th:each="sensorType : ${T(de.fhdo.echarge.environmentservice.entity.SENSORTYPE).values()}"
					            th:value="${sensorType}"
					            th:text="${sensorType}">
    					</option>
					</select>
					<input type="submit" value="Umweltinformation hinzufügen">
				</form>
			</div>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>